
body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.banner-wrap {
		background-image: url(https://source.unsplash.com/random);
		background-size: cover;
		background-position: center;
		padding: 150px 0;
		text-align: center;
}

h1 {
	color: white;
	font-size: 100px
	margin: 0;
	font-weight: bold;
}


p {
	color: rgba(255,255,255,.7);
	font-size: 24px;
	opacity: 0.85;
}


button {
		background-color: #1A48E3;
		color: white;
		padding: 16px 48px;
		border-radius: 4px;
		text-decoration: none;
		transition: .3s;
		font-size: :20px;
		font-weight: bold;
		border: none;

}
.cards-wrap {
	width: 860px;
	margin: 60px auto;
}
.cards-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}	

.card {
	background: white;
	box-shadow: 0 0 16px rgba(0,0,0,0.1);
	border-radius: 4px;
	padding: 24px;
	margin: 0px 20px;
}

.card img {
		width: 200px;
		height: 200px;
}

footer {
	background: #404042;
	color: white;
	padding: 30px 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

}

footer p {
	margin: 0;
}